<% if @post.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this project
from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <%= link_to 'Manage another project', projects_index_path %>
    <%= link_to 'Check other projects', projects_dashboard_path %>
<% else %>
    <h1> Your project was successfully saved! </h1>
    <%= link_to 'Manage another project', projects_index_path %>
    <%= link_to 'Check other projects', projects_dashboard_path %>
<% end %>