<h1>Ingresa tu proyecto</h1>

<ul>
    
    <%= form_with(model: @project, url: projects_create_path, local: true) do |f| %>
     
        <li>
            <%= f.label :name, "Nombre" %>
            <%= f.text_field :name %>
            
        </li>
        
        <li>
            <%= f.label :description, "Descripcion" %>
            <%= f.text_area :description %>
            
        </li>
        
        <li>
            <%= f.label :start_on, "Comienzo" %>
            <%= f.date_field :start_on %>

        </li>

        <li>
            <%= f.label :end_on, "Termino" %>
            <%= f.date_field :end_on %>
            
        </li>
    
        <li>
            <%= f.label :state, "Estado" %>
            <%= f.select :state, options_for_select(@states)%>
            
        </li>

        <li>
            <%= f.submit "Enviar" %>

        </li>
    
    <% end %>

</ul>